
@model IEnumerable<Resenje_2.Models.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Students</h2>

<h2> </h2>
<button type="submit"> @Html.ActionLink("New Student", "New")</button>
<h2> </h2>

<form asp-controller="Students" asp-action="Index">
    <p>
        <input type="text" name="id">
        <input type="submit" value="Search" />

    </p>
</form>

@if (!HttpContext.Current.Request.QueryString.Get("id").IsEmpty())
{
    <h5>@Html.ActionLink("Go back to original list", "Index", "Students")</h5>
}


@if (Model.Count() == 0)
{
    <p>There are no students.</p>
}
else
{
    <table class="table table-bordered table-hover" style="table-layout:fixed; width:40%">
        <thead>
            <tr>
                <th style="font-size:16px; text-align:center">@Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParm })</th>
                <th style="font-size:16px; text-align:center">@Html.ActionLink("Name","Index",new { sortOrder = ViewBag.NameSortParm })</th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td style="font-size:15px; text-align:center">@Model.ElementAt(i).Id</td>
                    <td style="font-size:15px; text-align:center">@Model.ElementAt(i).Name @Model.ElementAt(i).Surname </td>
                    <td style="border-bottom:hidden; border-top:hidden; border-right:hidden; font-size:12px">
                        @Html.ActionLink("Details", "Details", "Students", new { id = Model.ElementAt(i).Id }, null) |
                        @Html.ActionLink("Edit", "Edit", "Students", new { id = Model.ElementAt(i).Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "Students", new { id = Model.ElementAt(i).Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
