@model Resenje_2.ViewModels.ExamViewModel
@{
    ViewBag.Title = "ExamForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h2>Exam</h2>


@using (Html.BeginForm("Save", "Exams"))
{
    @Html.ValidationSummary(true, "Please, fix the following errors.")

    <div class="form-group">
        @Html.LabelFor(m => m.exam.StudentId)
        @Html.DropDownListFor(m => m.exam.StudentId, new SelectList(Model.students, "Id", "Id"), "Select Student by Id..", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.exam.StudentId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.exam.CourseId)
        @Html.DropDownListFor(m => m.exam.CourseId, new SelectList(Model.courses, "Id", "Name"), "Select Course..", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.exam.CourseId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.exam.Grade)
        @Html.TextBoxFor(m=>m.exam.Grade)<br />
        @Html.ValidationMessageFor(m => m.exam.Grade)
    </div>

    @Html.HiddenFor(m => m.exam.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary"> Save</button>

}

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
}

