@model IEnumerable<Resenje_2.Models.Exam>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Exams</h2>
<h2> </h2>
<button type="submit"> @Html.ActionLink("New Exam", "New")</button>
<h2> </h2>

@if (Model.Count() == 0)
{
    <p>There are no exams.</p>
}
else
{
    <table class="table table-bordered table-hover" style="table-layout:fixed; width:45%">
        <thead>
            <tr>
                <th style="text-align:center">
                    @Html.ActionLink("Student", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th style="text-align:center">
                    @Html.ActionLink("Course", "Index", new { sortOrder = ViewBag.CourseSortParm })
                </th>
                <th style="text-align:center">
                    @Html.ActionLink("Grade", "Index", new { sortOrder = ViewBag.GradeSortParm })
                </th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td style="text-align:center">@Model.ElementAt(i).Student.Name @Model.ElementAt(i).Student.Surname </td>
                    <td style="text-align:center">@Model.ElementAt(i).Course.Name</td>
                    <td style="text-align:center; font-weight:bold ">@Model.ElementAt(i).Grade</td>                    
                    <td style="text-align:center">@Html.ActionLink("Edit", "Edit", "Exams", new { id = Model.ElementAt(i).Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Exams", new { id = Model.ElementAt(i).Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}

